.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: rgba(26, 26, 46, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-link {
  display: flex;
  align-items: center;
  margin-left:3px ;
}

.logo-svg {
  width: 40px;
  height: 40px;
  stroke: var(--accent-color);
  stroke-width: 2;
  fill: none;
  transition: transform 0.3s ease;
}

.logo-link:hover .logo-svg {
  transform: scale(1.1) rotate(15deg);
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.nav-link {
  font-size: 14pt;
  font-family: var(--font-body);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link.active {
  color: var(--accent-color);
  text-shadow: 0 0 5px rgba(240, 230, 140, 0.5);
}



@media (max-width: 768px) {
  .header {
    padding: 15px 20px;
  }

  .logo-svg {
    width: 30px;
    height: 30px;
  }

  .nav-link {
    margin-left: 20px;
    font-size: 0.9rem;
  }
}
