
@keyframes twinkle {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.starry-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a1a2e;
  z-index: -1;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 4s infinite ease-in-out;
  opacity: 0;
}
