@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: var(--accent-color);
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.content {
  position: relative;
  z-index: 1;
}

.symbol {
  width: 80px;
  height: 80px;
  stroke: var(--accent-color);
  stroke-width: 2;
  fill: none;
  margin-bottom: 2rem;
  animation: spin 25s linear infinite;
}

.title {
  font-family: 'Vazirmatn', serif;;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  color: var(--accent-color);
}

.subtitle {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--primary-text-color-transparent);
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.cta-button {
  font-family: var(--font-body);
  font-weight: 700;
  font-size: 1rem;
  background: transparent;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background: var(--accent-color);
  color: var(--primary-bg-color);
}

/* Responsive styles */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .cta-button {
    padding: 12px 25px;
  }
}
